<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/sidebars.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Company name</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="flex-shrink-0 p-3 bg-light">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                <span data-feather="home" class="align-text-bottom"></span>Web Site
                            </button>
                            <div class="collapse" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/Slider/" class="nav-link">Slider</a></li>
                                    <li class="nav-item"><a href="/Kampanya/" class="nav-link">Kampanya</a></li>
                                    <li class="nav-item"><a href="/Uygulama/" class="nav-link">Uygulama</a></li>
                                    <li class="nav-item"><a href="/Hakkimizda/" class="nav-link">Hakkımızda</a></li>
                                    <li class="nav-item"><a href="/Blog/" class="nav-link">Blog</a></li>
                                    <li class="nav-item"><a href="/Iletisim/" class="nav-link">İletişim</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#servis-collapse" aria-expanded="true">
                                <span data-feather="home" class="align-text-bottom"></span>Servis Yönetim
                            </button>
                            <div class="collapse" id="servis-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="/Musteri/" class="nav-link">Müşteri</a></li>
                                    <li class="nav-item"><a href="/ModelMarka/" class="nav-link">Marka-Model</a></li>
                                    <li class="nav-item"><a href="/Isemri/" class="nav-link">İş Emri</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="border-top my-3"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                <span data-feather="user" class="align-text-bottom"></span>Account
                            </button>
                            <div class="collapse" id="account-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="nav-item"><a href="#" class="nav-link">New...</a></li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">@ViewBag.Title</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <span class="text-success fw-bold">@TempData["Ok"]</span>
                        <span class="text-danger fw-bold">@TempData["No"]</span>
                    </div>
                </div>
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
    <script src="~/Scripts/dashboard.js"></script>
    <script src="~/Scripts/sidebars.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
