@using OtoServisPro.Entities.Web;
@{
    ViewBag.Title = "Oto Servis";
}
@if (ViewBag.Slider != null)
{
    var slider = (List<Slider>)ViewBag.Slider;
    int sayac = 0;

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            @for (int i = 0; i < slider.Count; i++)
            {
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i"></button>

            }
        </div>
        <div class="carousel-inner">
            @foreach (var item in slider)
            {
                string aktif = "";
                if (sayac==0)
                {
                    aktif = "active";
                }
                <div class="carousel-item @aktif">
                    <img src="@item.ResimYol" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Baslik</h5>
                        <p>@item.Tanimlama</p>
                    </div>
                </div>
            }


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}



<div class="container mt-4">
    @if (ViewBag.Kampanya != null)
            {
                var kampanya = (Kampanya)ViewBag.Kampanya;
        <div class="row">
            <div class="col">
                @Html.Raw(kampanya.Icerik)
            </div>
        </div>
    }
    
    <hr />
    <h1 class="text-center">Uygulamalarımız</h1>
    <div class="row mt-5">
        @if (ViewBag.Uygulama != null)
        {
            var uygulama = (List<Uygulama>)ViewBag.Uygulama;
            foreach (var item in uygulama)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@item.Resim" alt="@item.Baslik">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="text-center">@item.Baslik</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
    <hr />
    <h1 class="text-center">Hakkımızda</h1>
    <div class="row mt-5">
        @if (ViewBag.Hakkimizda != null)
        {
            var hakkimizda = (Hakkimizda)ViewBag.Hakkimizda;
            <div class="col-md-3">
                <img class="img-fluid" src="@hakkimizda.Resim" alt="" />

            </div>
            <div class="col-md-9">
                @Html.Raw(hakkimizda.Icerik)
            </div>
        }

    </div>
    <hr />
    <h1 class="text-center">Blog</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <h5>Fiyat-Performans Ürünleri</h5>
            <p>
                Fiyat-performans ürünleri, uygun fiyata yüksek performans sunan ürünlerdir. Bu tür ürünler, kaliteli malzemelerle üretilirken aynı zamanda müşteri bütçesine de uygun olması nedeniyle tercih edilir. Oto servislerde de, araç sahiplerine fiyat-performans ürünleri önerilerek daha ekonomik bir bakım ve onarım imkanı sunulabilir. Bu şekilde müşteriler, hem kaliteli hizmet alırken hem de bütçelerini zorlamadan araçlarını koruyabilirler.
            </p>
        </div>
        <div class="col-md-6">
            <h5>Periyodik Bakım Süresi</h5>
            <p>
                Periyodik bakım süresi, aracınızın uzun ömürlü olması ve güvenli bir şekilde kullanılabilmesi için düzenli olarak yapılması gereken bir işlemdir. Bu süreyi ihmal etmek, ciddi arızalara ve yüksek onarım maliyetlerine yol açabilir. Bu nedenle, aracınızın periyodik bakımlarını düzenli olarak yaptırmak önemlidir.
            </p>
        </div>
        <div class="col-md-6">
            <h5>Kilometre Garantisi</h5>
            <p>
                Oto servislerde yapılan işçilik sonrası kilometre garantisi, müşterilere sunulan bir hizmettir. Bu garanti, yapılan işlemin kalitesini ve müşteri memnuniyetini garanti altına alır. Garanti süresi ve kapsamı servisler arasında değişebilir. Müşteriler, yapılan işlemin belirli bir süre veya belirli bir mesafe kat edildikten sonra sorunlu hale gelmesi durumunda ücretsiz olarak yeniden onarım işlemi yaptırabilirler. Bu şekilde, müşteriler araçlarına daha güvenli ve uzun ömürlü bir bakım ve onarım hizmeti aldıklarından emin olabilirler.
            </p>
        </div>
        <div class="col-md-6">
            <h5>Mobil Hizmet</h5>
            <p>
                Mobil hizmet, oto servislerin müşterilerine sunabileceği bir hizmettir. Bu hizmet sayesinde müşteriler, araçlarının bakım ve onarım işlemlerini servise gitmeden yerinde yaptırabilirler. Mobil hizmet, müşterilere zamandan tasarruf etme ve daha konforlu bir hizmet alma imkanı sunar. Ayrıca, arızalı araçlarını tamir ettirmek için servise gitmek istemeyen veya yol kenarında kalan müşterilerin de yardımına koşabilir.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6229.968387081126!2d39.24138782994159!3d38.67223131995859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4076bf24f2917f59%3A0xba2b9b88b2496282!2sCO%C5%9EKUN%20OTO%20Renault%20-%20Dacia%20%C3%96zel%20Servisi!5e0!3m2!1str!2str!4v1682450849215!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>