@model OtoServisPro.Entities.Servis.Isemri
@{
    ViewBag.Title = "Hizli İş Emri Oluştur";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col">
        <h5>Araç Bilgileri</h5>
        <table class="table table-sm table-responsive">
            <tr>
                <td>Plaka</td>
                <td>@Model.Plaka</td>
            </tr>
            <tr>
                <td>Şase No</td>
                <td>@Model.SaseNo</td>
            </tr>
            <tr>
                <td>Marka / Model</td>
                <td>@Model.Model.Marka.MarkaAd / @Model.Model.ModelAd</td>
            </tr>
            <tr>
                <td>Model Yılı</td>
                <td>@Model.ModelYil</td>
            </tr>
            <tr>
                <td>Yakıt Türü</td>
                <td>@Model.YakitTuru</td>
            </tr>
        </table>
    </div>
    <div class="col">
        <h5>Müşteri Bilgisi</h5>
        <table class="table table-sm table-responsive">
            <tr>
                <td>Adı Soyadı</td>
                <td>@Model.Musteri.AdSoyad</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>@Model.Musteri.Telefon</td>
            </tr>
            <tr>
                <td>E-posta</td>
                <td>@Model.Musteri.Eposta</td>
            </tr>
            <tr>
                <td>Adres</td>
                <td>@Model.Musteri.Adres</td>
            </tr>
        </table>
    </div>
</div>
@using (Html.BeginForm("HizliIsemri", "Isemri"))
{
    <input type="hidden" name="IsemriId" value="@Model.IsemriId" />
    <div class="row">
        <div class="col-md-3">
            Geliş Tarihi
            <input type="date" name="GelisTarihi" class="form-control" required />
        </div>
        <div class="col-md-2">
            Araç Km
            <input type="number" name="AracKm" class="form-control" required />
        </div>
        <div class="col-md-5">
            Geliş Sebebi
            <input type="text" name="GelisSebebi" class="form-control" required />
        </div>
        <div class="col-2">
            <br />
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </div>
}

