@model IEnumerable<OtoServisPro.Entities.Servis.Musteri>
@{
    ViewBag.Title = "İş Emri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col">
            Müşteri Ara ( Ad Soyad / Telefon)
            <input type="text" class="form-control" name="ara" />
        </div>
        <div class="col">
            <br />
            <input type="submit" class="btn btn-secondary" value="Ara" />
        </div>
    </div>
}

<hr />
<table class="table table-sm table-responsive"> 
    <thead> 
        <tr>
            <th>Adı Soyadı</th>
            <th>Telefon</th>
            <th>E-Posta</th>
            <th>Adres</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdSoyad</td>
            <td>@item.Telefon</td>
            <td>@item.Eposta</td>
            <td>@item.Adres</td>
            <td>
                @Html.ActionLink("İş Emri Oluştur","IsemriOlustur",new { musteriid = item.MusteriId },new { @class = "btn btn-sm btn-success" })
            </td>

        </tr>
    }
</table>
