@using OtoServisPro.Entities.Servis
@model IEnumerable<OtoServisPro.Entities.Servis.Isemri>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (ViewBag.AcikIsemirleri != null)
{
    var acik = (List<Isemri>)ViewBag.AcikIsemirleri;
    if (acik.Count > 0)
    {
        <h5>Bu Müşteriye Ait Açık İş Emirleri</h5>

    }
    <table class="table table-sm table-responsive">
        @foreach (var item in acik)
        {
            <thead>
                <tr>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Plaka</th>
                    <th>Geliş Tarihi</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>@item.Model.Marka.MarkaAd</td>
                <td>@item.Model.ModelAd</td>
                <td>@item.Plaka</td>
                <td>@item.GelisTarihi</td>
            </tr>
        }
    </table>
}
<hr />
@using (Html.BeginForm("IsemriKaydet", "Isemri"))
{
    <input type="hidden" name="MusteriId" value="@ViewBag.MusteriId" />
    <div class="row">
        <div class="col-md-4">
            Marka
            @Html.DropDownList("Markalar", new SelectList(ViewBag.Marka, "MarkaId", "MarkaAd"), "Marka Seç", new { @class = "form-control", required = "required", onchange = "ModelDoldur()" })
        </div>
        <div class="col-md-4">
            Model
            <select name="ModelId" id="ModelId" class="form-control">
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Plaka
            <input type="text" name="Plaka" class="form-control" />
        </div>
        <div class="col-md-4">
            Şase No
            <input type="text" name="SaseNo" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Araç KM
            <input type="text" name="AracKm" class="form-control" />
        </div>
        <div class="col-md-4">
            Model Yılı
            <input type="text" name="ModelYil" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Yakıt Türü
            <select name="YakitTuru" class="form-control">
                <option>Benzin</option>
                <option>Dizel</option>
                <option>LPG</option>
                <option>Hybrid</option>
                <option>Elektrik</option>
            </select>
        </div>
        <div class="col-md-4">
            Geliş Tarihi
            <input type="date" name="GelisTarihi" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            Geliş Sebebi
            <textarea name="GelisSebebi" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <input type="submit" class="btn btn-primary float-end mt-2" value="Kaydet" />
        </div>
    </div>
}

@if (ViewBag.KapaliIsemirleri != null)
{

    var kapali = (List<Isemri>)ViewBag.KapaliIsemirleri;
    if (kapali.Count > 0)
    {
        <hr />
        <h5>Müşteri Geçmişi</h5>
        <table class="table table-sm table-responsive">
            <thead>
                <tr>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Plaka</th>
                    <th>Geliş Tarihi</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Model.Marka.MarkaAd</td>
                    <td>@item.Model.ModelAd</td>
                    <td>@item.Plaka</td>
                    <td>@item.GelisTarihi</td>
                </tr>
            }

        </table>
    }

}


<script>
    function ModelDoldur() {
        var _markaid = $('#Markalar').val();
        if ($('#Markalar').val() == "") {
            $('#ModelId').html("");
            $('#ModelId').append($('<option></option>').val("").html("Model Seçiniz"));
        }
        else {
            $.ajax({
                url: '/ModelMarka/ModelDoldur',
                type: 'GET',
                dataType: 'JSON',
                data: { markaid: _markaid },
                success: function (modeller) {
                    $('#ModelId').html("");
                    $.each(modeller, function (i, model) {
                        $('#ModelId').append($('<option></option>').val(model.ModelId).html(model.ModelAd));
                    });
                }
            });
        }
    }
</script>
