@model IEnumerable<OtoServisPro.Entities.Servis.Islem>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("IslemKaydet", "Isemri"))
{
    <input type="hidden" name="IsemriId" value="@ViewBag.IsemriId" />

    <div class="row">
        <div class="col-md-3">
            Bakım Grubu
            @Html.DropDownList("drpBakimGrup", new SelectList(ViewBag.BakimGrup, "BakimGrupId", "BakimGrupAdi"),
           "Bakım Grubu Seçiniz", new { @class = "form-control form-control-sm", required = "required", onchange = "BakimDoldur()" })
        </div>
        <div class="col-md-3">
            Bakım Türü
            <select name="BakimId" id="BakimId" required class="form-control form-control-sm">
            </select>
            <input type="hidden" name="IslemAd" id="IslemAd" />
        </div>
        <div class="col-md-2">
            Birim Fiyat
            <div class="input-group input-group-sm">
                <span class="input-group-text">&#8378;</span>
                <input type="number" required  step="any" id="bakimBirimFiyat" onchange="BakimHesapla()" class="form-control form-control-sm text-center" onclick="this.select()" value="0" />
                <input type="hidden" name="BirimFiyat" id="hdbakimBirimFiyat" />
            </div>

        </div>
        <div class="col-md-1">
            Adet
            <input type="number" required name="Adet" id="bakimAdet" onchange="BakimHesapla()" class="form-control form-control-sm text-center" onclick="this.select()" value="1" />
        </div>
        <div class="col-md-2">
            Toplam
            <div class="input-group input-group-sm">
                <span class="input-group-text">&#8378;</span>
                <input type="text" required name="AraToplam" id="bakimAraToplam" class="form-control form-control-sm text-center" readonly value="0" />
            </div>

        </div>
        <div class="col-md-1">
            <br />
            <input type="submit" value="Ekle" class="btn btn-sm btn-success" />
        </div>
    </div>
}


<div class="row mt-3">
    <div class="col-md-6">
        Diğer İşlem
        <input type="text" class="form-control form-control-sm" />
    </div>
    <div class="col-md-2">
        Birim Fiyat
        <div class="input-group input-group-sm">
            <span class="input-group-text">&#8378;</span>
            <input type="number" id="digerBirimFiyat" onchange="DigerHesapla()" class="form-control form-control-sm text-center" onclick="this.select()" value="0" />
        </div>

    </div>
    <div class="col-md-1">
        Adet
        <input type="number" id="digerAdet" onchange="DigerHesapla()" class="form-control form-control-sm text-center" onclick="this.select()" value="1" />
    </div>
    <div class="col-md-2">
        Toplam
        <div class="input-group input-group-sm">
            <span class="input-group-text">&#8378;</span>
            <input type="number" id="digerAraToplam" onchange="DigerHesapla()" class="form-control form-control-sm text-center" disabled value="0" />
        </div>

    </div>
    <div class="col-md-1">
        <br />
        <input type="submit" value="Ekle" class="btn btn-sm btn-success" />
    </div>
</div>
<hr/>
<table class="table table-sm table-responsive table-primary">
    <thead>
        <tr>
            <th>Yapılan İşlem</th>
            <th>Birim Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IslemAd</td>
            <td>@item.BirimFiyat.ToString("C")</td>
            <td>@item.Adet</td>
            <td>@item.AraToplam.ToString("C")</td>
        </tr>
    }
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#BakimId').on('change', function () {
                $('#IslemAd').val($(this).find("option:selected").text());
            });

        });
    </script>

}

<script>
    function BakimHesapla() {
        var bakimBirimFiyat = $('#bakimBirimFiyat').val();
        var bakimAdet = $('#bakimAdet').val();
        if (bakimBirimFiyat.length === 0 | bakimAdet.length === 0) {
            $('#bakimAraToplam').val(0);
        } else {
            var bakimAraToplam = bakimBirimFiyat * bakimAdet;
            var birimfiyat = $('#bakimBirimFiyat').val();
            $('#hdbakimBirimFiyat').val(birimfiyat.replace('.', ','));
            $('#bakimAraToplam').val(bakimAraToplam.toFixed(2).replace('.', ','));
        }

    }


    function DigerHesapla() {
        var digerBirimFiyat = $('#digerBirimFiyat').val();
        var digerAdet = $('#digerAdet').val();
        if (digerBirimFiyat.length === 0 | digerAdet.length === 0) {
            $('#digerAraToplam').val(0);
        } else {
            var digerAraToplam = digerBirimFiyat * digerAdet;
            $('#digerAraToplam').val(digerAraToplam);
        }

    }


    function BakimDoldur() {
        var _bakimgrupid = $('#drpBakimGrup').val();
        if ($('#drpBakimGrup').val() == "") {
            $('#BakimId').html("");
            $('#BakimId').append($('<option></option>').val("").html("Bakım Türü Seçiniz"));
        }
        else {
            $.ajax({
                url: '/BakimGrup/BakimDoldur',
                type: 'GET',
                dataType: 'JSON',
                data: { bakimgrupid: _bakimgrupid },
                success: function (bakimlar) {
                    $('#BakimId').html("");
                    $('#BakimId').append($('<option></option>').val("").html("Bakım Türü Seçiniz"));
                    $.each(bakimlar, function (i, bakim) {
                        $('#BakimId').append($('<option></option>').val(bakim.BakimId).html(bakim.BakimAdi));
                    });
                }
            });
        }
    }
</script>
